Source: bunsen-images
Section: x11
Priority: extra
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-images
Vcs-Git: https://github.com/BunsenLabs/bunsen-images.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-images

Package: bunsen-images
Architecture: all
Depends: ${misc:Depends}
Breaks: bunsen-images-extra (<< 8.5-1)
Description: Images for use with BunsenLabs
 A collection of wallpapers, grub and login backgrounds,
 icons and avatars, intended to fit the style of BunsenLabs.
 .
 This package contains the artwork used in the default configuration.

Package: bunsen-images-extra
Architecture: all
Depends: ${misc:Depends}
Recommends: bunsen-images (>= 8.5-1)
Breaks: bunsen-images (<< 8.5-1)
Description: Images for use with BunsenLabs
 A collection of wallpapers, grub and login backgrounds,
 icons and avatars, intended to fit the style of BunsenLabs.
 .
 This package contains extra artwork.
