Source: bunsen-images
Section: x11
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/BunsenLabs/bunsen-images
Vcs-Git: https://github.com/BunsenLabs/bunsen-images.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-images

Package: bunsen-images
Architecture: all
Depends: ${misc:Depends}
Breaks: bunsen-images-extra (<< 8.5-1)
Description: Images for use with BunsenLabs
 A collection of wallpapers, grub and login backgrounds,
 intended to fit the style of BunsenLabs.
 .
 This package contains the artwork used in the default configuration.
